.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: wheat;
	position: relative;

	&::before {
		content: "";
		display: block;
		background-color: yellow;
		width: 100%;
		height: 2px;
		top: 0;
		position: absolute;
	}

	&::after {
		content: "";
		background-color: rgb(255, 0, 0);
		width: 100%;
		height: 2px;
		position: absolute;
		top: -2px;
	}
}

.socials {
	min-height: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	color: #411f19;
	gap: 2rem;

	&__link {
		display: flex;
		cursor: pointer;
		transition: all .3s;

		&:hover {
			opacity: .7;
		}
	}
}