@font-face {
  font-family: "Neuzeit-Grotesk";
  src: local("Neuzeit-Grotesk"),
    url("./fonts/Neuzeit_ff/Neuzeit\ Grotesk\ W01\ Regular.otf")
      format("truetype");
  font-weight: 400;
}
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

// imports styles of components
@import url(./styles/components/navigation.scss);
@import url(./styles/components/home.scss);
@import url(./styles/components/about.scss);
@import url(./styles/components/projects.scss);
@import url(./styles/components/footer.scss);
@import url(./styles/components/theme-builder.scss);

* {
	box-sizing: border-box;
}

// colors
[data-theme="dark"] {
	--color-bg: #0e141b;
	--color-bg-offset: #252526;
	--color-text: #ffffff;
	--color-text-offset: #818a91;
	--color-border: #2d2d2d;
	--color-primary: #ff5277;
	--color-primary-offset: #ff2957;
	--color-secondary: #43a9a3;
} 

[data-theme='moomoo'] {
	--color-bg: #fef6e4;
	--color-bg-offset: #f3e1d8;
	--color-text: #172c66;
	--color-text-offset: #006e8a;
	--color-border: #f3d2c1;
	--color-primary: #f582ae;
	--color-primary-offset: #ff3d6a;
	--color-secondary: #8bd3dd;
}

html,
body,
#app,
#app>div {
	height: 100%
}

html,
body,
form,
fieldset,
table,
tr,
td,
img,
p {
  margin: 0;
  padding: 0;
  font: 62.5%/150% "Syne", helvetica, sans-serif;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: normal;
}

h1, h2 {
	padding: 2rem 0;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	font-size: 5rem;
  background-color: var(--color-bg);
	color: #272343;	
}

// wrap
.modal-wrap {
	z-index: 1;
	transition: all .3s;
}

.flex {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container {
	width: 100%;
	max-width: 1260px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 25px;
}
